{% extends 'base.html' %}

{% block content %}

<div class="card" style="
    padding:60px;
    text-align:center;
    max-width:800px;
    margin:auto;
">

    <h1 style="
        font-size:56px;
        font-family:Orbitron;
        margin-bottom:30px;
        color:#5CE1E6;
    ">
        Заказ успешно оформлен
    </h1>

    <p style="
        font-size:22px;
        margin-bottom:40px;
        color:#bfc4d3;
    ">
        Спасибо за покупку в NeuroTech
    </p>

    <a href="/" class="btn">
        Вернуться на главную
    </a>

</div>

{% endblock %}